* {
     margin: 0; 
     padding: 0;   
    box-sizing: border-box; 
}

.pinco_pallo {
    width: 340px;
    border: 2px solid black ;
    padding: 10px;
    margin: 15px;
}

.site_header {
    border-bottom: 2px solid black;
    padding: 10px;
}

.site_footer {
    border-top: 2px solid black;
    padding: 10px;
}